
.venv
/allure-report/
/reports/
.cache/
.idea/vcs.xml
.idea
__pycache__/
core/__pycache__/
core/connections/__pycache__/
scenarios/__pycache__/
utils/__pycache__/
venv/
/.idea/vcs.xml
.DS_Store
allure-report.zip
scenarios/.DS_Store
